global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'backend'
    metrics_path: '/actuator/prometheus'
    dns_sd_configs:
      - names: ['tasks.backend']
        type: 'A'
        port: 8080